<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
         
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{room.picture}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Cena: {{room.price}} zł</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ID: {{room.id}}</li>
                        <li class="list-group-item">Rodzaj pokoju: {{room.roomType}}</li>
                        <li class="list-group-item">Piętro: {{room.floor}}</li>
                        <!-- <label class="list-group-item">Check-in <input  type="date" formControlName="checkIn"
                                name="checkIn"></label> -->
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" (dateChange)="dateCheckInChange($event)" [matDatepickerFilter]="myHolidayFilter" placeholder="Choose checkIn">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker ></mat-datepicker>
                                  </mat-form-field>
                                  
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="picker1" (dateChange)="dateCheckOutChange($event)" [matDatepickerFilter]="myHolidayFilter" placeholder="Choose checkOut">
                                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                      <mat-datepicker #picker1 ></mat-datepicker>
                                    </mat-form-field> 
                        <!-- <label class="list-group-item">Check-out <input  type="date" min="2021-12-12" formControlName="checkOut"
                                name="checkOut"></label> -->
                        <li class="list-group-item">Finalny koszt rezerwacji: {{room.floor}}</li>
                    </ul>
                    <div class="card-body">
                        <!-- <a type="submit"  class="card-link">Zarezerwuj!</a> -->
                        <button type="submit" (click)="onAddBooking()" class="card-link">
                            Sign Up
                        </button>
                        <a href="#" class="card-link">Dodaj do ulubionych </a>
                    </div>
                </div>
           

        </div>
    </div>
{{checkInn}}
</div>





