<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Sign Up</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="mandoForm" (ngSubmit)="signup()">
                       
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Firstname</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="firstname"class="form-control" required>
                                <span *ngIf="!mandoForm.get('firstname')?.valid && mandoForm.get('firstname')?.touched">
                                    Please provide a valid firstname
                                </span>                                 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Lastname</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="lastname"class="form-control" required>
                                <span *ngIf="!mandoForm.get('lastname')?.valid && mandoForm.get('lastname')?.touched">
                                    Please provide a valid last name
                                </span>                                 
                            </div>
                        </div>
 
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                                Address</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="email" id="email_address" class="form-control" name="email-address" required
                                    >
                                <span *ngIf="!mandoForm.get('email')?.valid && mandoForm.get('email')?.touched">
                                    Please provide a valid email
                                </span>                                    
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Username</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="username"class="form-control" required >
                                <span *ngIf="!mandoForm.get('username')?.valid && mandoForm.get('username')?.touched">
                                    Please provide a valid username
                                </span>                                 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Phone number</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="phone"class="form-control" required autofocus>
                                <span *ngIf="!mandoForm.get('phone')?.valid && mandoForm.get('phone')?.touched">
                                    Please provide a valid phone
                                </span>                                 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" formControlName="password" id="password" class="form-control" name="password" required>
                                <span *ngIf="!mandoForm.get('password')?.valid && mandoForm.get('password')?.touched">
                                    Please provide a valid password
                                </span>  
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Address</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="address"class="form-control" required autofocus>
                                <span *ngIf="!mandoForm.get('address')?.valid && mandoForm.get('address')?.touched">
                                    Please provide a valid address
                                </span>                                 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Address</label>
                            <div class="col-md-6">
                                <select formControlName="role" class="form-select" aria-label="Default select example">  
                                    <option  selected value="1">Administrator</option>
                                    <option value="2">Pracownik</option>
                                    <option value="3">Klient</option>
                                </select>
                            </div>
                        </div>

                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="sign-up">
                                Sign Up
                            </button>
                            <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    {{this.mandoForm.get('role')?.value}}
</div>
